/*--start of global declarations*/

@font-face {
  font-family: Myanmar;
  src: url('../fonts/MyanmarText-Bold.woff2');
}

@font-face{
  font-family: Themify;
  src: url('../assets/fonts/themify.woff')
}

.body {
  overflow: scroll;
}

.global-width{
  width: 100%;
}

.global-container-width{
  width: 1140px;
}

.global-container-margin{
  margin: 0px auto;
}

p{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.a{
  padding: 15px 45px;
  border: 50px none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #ff5353;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.88rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #888888;
}

a:hover{
  color: #ff5353;
  transition: 0.2s;
}

.banner a:hover, .sale a:hover{
  background-color: #FFFFFF;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  text-align: center;
}

.box-container, .box-container2, .shallow-box-container{
  position: relative;
  width: inherit;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.box{
  width: 263px;
  height: 341px;
  background-color: #f0f2f1;
}

.price-container{
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.price{
  width: 262px;
}

.price p{
  text-transform: capitalize;
  font-size: 0.88rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #909090;
  margin-top: 31px;
  margin-bottom: 15px;
}

.price h6{
  text-align: center;
  font-size: 1rem;
  color: #ff5353;
  margin-bottom: 15px;
}

.price h1{
  font-size: 1.13rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 80px;
}

.hide a{
  width: 100%;
  height: 55px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0px 5px 0px;
}

.hide i{
  font-size: 16px;
  margin: 20px auto;
  overflow: hidden;
  color: #000000;
}

.hide{
  bottom: 10%;
  left: 13%;
  width: 200px;
  height: inherit;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
}

.featured .box ,.popular .box, .trending .box, .socmed .box{
  position: relative;
}

.featured img , .popular img , .trending img{
  position: absolute;
}
/*--end of global declarations*/

.header{
  height: 110px;
}

.top-header{
  height: 30px;
  background-color: #fef7f6;
}

.top-header p{
  font-family: 'Roboto', sans-serif;
  font-size: 0.69rem;
  margin-top: 10px;
}

.top-header-container{
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.top-header p{
  text-transform: lowercase;
}

.top-header ul{
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header ul li a{
  font-family: 'Roboto' , sans-serif;
  font-size: 0.69rem;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 5px;
  color: #000000;
  margin: 0px 10px 0px;
}

.top-header a:hover{
  color: #ff5353;
}

.bot-header{
  height: 80px;
}

.bot-header{
  font-size: 1rem;
}

.bot-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.bot-header-container h1{
  height: 35px;
}

.bot-header a:hover{
  color: #ff5353;
}

.bot-header-nav{
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.bot-header-nav a:hover{
  color: #ff5353;
}

.brand h1 a{
  font-family: Myanmar;
  font-size: 2.13rem;
  word-spacing: 41px;
  text-transform: capitalize;
}

.bot-header h1 span{
  color: #ff5353;
}

.bot-header a{
  text-decoration: none;
  color: #000000;
}

.menu{
  word-spacing: 40px;
}

.menu ul li{
  display: inline-flex;
}

.menu ul li a{
  font-size: 0.81rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 0.81rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.banner {
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-container{
  height: 580px;
  display: flex;
  align-items: center;
  height: inherit;
  text-align: center;
}

.banner-container img{
  width: auto;
  height: inherit;
  position: absolute;
  object-fit: contain;
  right: 0;
}

.banner p{
  font-size: 0.88rem;
  color: #565656;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 500;
}

.banner h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3.75rem;
  font-weight: 500;
  display: grid;
  text-align: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.featured{
  height: 813px;
  margin-top: 150px;
}

.featured-container{
  height: inherit;
}

.featured-text{
  height: 90px;
}

.featured-image{
  height: 560px;
}

.featured .box-container{
 grid-template-columns: auto auto auto;
}

.featured .box{
  width: 360px;
  height: 451px;
}

.featured .price{
  width: 360px;
}

.featured .hide{
  left: 25%;
}
.sale{
  height: 630px;
}

.sale-container{
  height: 550px;
  display: flex;
  align-items: center;
  height: inherit;
  text-align: center;
}


.sale-container img{
  width: inherit;
  height: inherit;
  position: absolute;
  object-fit: contain;
  right: 0;
}

.sale h1{
  font-family: 'Dancing Script', cursive;
  font-size: 6.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.sale p{
  font-size: 2.6rem;
  font-weight: 300;
  color: #565656;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.popular{
  height: 750px;
  margin-top: 150px;
}

.popular-container{
  height: 564px;
}

.popular-text{
  height: 114px;
}

.popular-image{
  height: 450px;
}
.popular-price{
  margin-top: 50px;
  height: 80px;
}

.popular-pagination{
  width: 100%;
  height: 186px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-pagination .page{
  background-color: #ff5353;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0px 12px;
}

.popular-pagination .active{
  background-color: #c6b5a1;
}

.features{
  height: 300px;
}

.shallow-box{
  border: 1px solid #d6d8d9;
  height: 166px;
  width: 263px;
  display: block;
}

.shallow-box-content{
  margin-top: 10%;
  width: 100%;
}

.shallow-box img{
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shallow-box h1{
  font-size: 0.94rem;
  margin-top: 8%;
  margin-bottom: 5%;
}

.shallow-box p{
  font-size: 0.88rem;
  text-transform: lowercase;
}

.features .shallow-box-container{
  grid-template-columns: auto auto auto auto;
}

.trending-text{
  height: 114px;
}

.trending .box-container{
  grid-template-columns: auto auto auto auto;
}

.journal{
  height: 650px;
}

.journal-image{
  height: 530px;
  margin-top: 90px;
}

.journal .box{
  width: 360px;
  height: 350px;
}

.journal .box-container{
  grid-template-columns: auto auto auto;
}

.journal-content{
  width: 360px;
  margin-top: 35px;
}

.journal .border{
  margin-top: 25px;
  border: 1px solid #e1e1e1;
}

.journal-content p{
  font-family: 'Roboto', sans-serif;
  font-size: 0.81rem;
  font-weight: 300;
  color: #888888;
  text-align: left;
  text-transform: capitalize;
}

.journal-content h1{
  margin-top: 15px;
  text-transform: initial;
  text-align: left;
  font-size: 1.25rem;
}

.journal-content a{
  color: #000000;
}

.journal-content a:hover{
  color: #ff5353;
}

.journal .options ul{
  margin-top: 25px;
  height: inherit;
  display: flex;
}

.journal ul li a{
  font-size: 0.88rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #888888;
}

.journal-options{
  font-size: 0.88rem;
  color: #888888;
  margin-right: 15px;
}

.date{
  display: flex;
  align-items: center;
}

.date img{
  width: 12px;
  height: 6px;
  margin-right: 10px;
}

.ti-comments{
  margin-left: 40px;
}

.options-div a:hover, .options-div span:hover{
  color: #ff5353;
}

.socmed{
  height: 515px;
  margin-top: 150px;
}

.socmed .box-container{
  margin-top: 90px;
  grid-template-columns: auto auto auto auto;
}

.socmed .box{
  width: 260px;
  height: 250px;
  background-color: #9a9a9a;
}

.socmed a{
  position: relative;
  display: block;
  overflow: hidden;
}

.socmed img{
  display: block;
}

.socmed a::before{
  content: '';
  width: calc(100% - 23px);
  height: 100%;
  position: absolute;
  background-color: #ff535380;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.socmed a:hover::before{
  top: 0;
  opacity: 1;
  visibility: visible;
}

.socmed i{
  top: 45%;
  left: 42%;
  position: absolute;
  width: inherit;
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0;
  visibility: none;
  transition: all 300ms ease;
}

.socmed a:hover i{
  opacity: 1;
  visibility: visible;
}

.footer{
  height: 540px;
  background-color: #e9e1d8;
}

.column-container{
  height: 378px;
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.footer .column{
  margin-top: 100px;
  width: 25%;
  height: 280px;
}

.app-container{
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.app-container .app-button{
  background-color: #FFFFFF;
  border-radius: 5%;
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

.transition{
  transition: 0.4s;
}

.app-container a:hover, .social-container a:hover{
  background-color: #ff5353;
}

.app-container a:hover h3, .app-container a:hover h6, .app-container a:hover span, .social-container a:hover{
  color: white;
}

.app-button span{
  color: #ff5353;
  font-size: 1.31rem;
  text-align: center;
}

.column h3{
  font-family: 'Roboto', sans-serif;
  font-size: 0.63rem;
  text-transform: uppercase;
  width: inherit;
  color: #000000;
}

.column h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.81rem;
  text-transform: uppercase;
  width: inherit;
  color: #000000;
}

.column ul li a:hover{
  color: #ff5353;
}

.column .border{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #d6d8d9;
}

.social-container{
  width: 270px;
  display: flex;
}

.social-cont{
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.social-container a{
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer h1{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
}

.footer ul {
  line-height: 30px;
}

.footer ul li a{
  font-family: 'Roboto', sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  text-decoration: none;
  color: #888888;
}

.footer-end{
  height: 120px;
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.footer-end .border{
  margin-top: 50px;
  border: 1px solid #d6d8d9;
}

.footer .rights p{
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 50px;
  text-transform: capitalize;
  color: #888888;
}

.footer .rights p span a{
  text-transform: lowercase;
  text-decoration: none;
  color: #ff5353;
}

.footer .rights p span a:hover{
  text-decoration: underline;
}
